
html, body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.out-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.box {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    & > img {
        height: 100%;
    }
}



